:root {
  --dark: #202020;
  --light: #ffffff;
}

* {
  box-sizing: border-box;
}

/* These are styles for the header */
.header {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

.header h1 {
  display: inline-block;
}

.header nav {
  margin-right: 50px;
  float: right;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header nav li {
  display: inline-block;
  margin-left: 35px;
}

.header a {
  color:#ffffff
}

/* These are styles for the main section */
main {
  background-color: #ffffff;
  text-align: center;
}

.large-text1 {
  font-size: 100px;
}

.large-text2 {
  font-size: 80px;
}

.information {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  padding: 10px;
}

/* These are styles for the about section */
.about {
  height: 97vh;
  display: flex;
  align-items: center;
  background-color: beige;
  padding: 40px;
  border: solid red 3px;
}

.about__image{
  width: 50vw;
  border: solid red 3px;
  padding: 20px;
  @media screen and (max-width: 575px) {
    width: 100vw;
  }
}

.about__text{
  width: 50vw;
  text-align: left;
  border: solid red 3px;
  padding: 20px;
  @media screen and (max-width: 575px) {
  width: 100vw;
  }
}

.about__text .information {
  padding-top: 20px;
}
/* These are styles for the USPs section*/
.usp {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: var(--dark);
  color: var(--light);
}

.usp__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: solid;
  padding: 10px;
}

.usp__article {
  display: inline-block;
  width: 400px;
  border: solid;
  @media screen and (max-width: 575px) {
    width: 100vw;
    }
}

.usp h2 {
  padding-top: 20px;
}

.usp .information {
  padding: 10px;
}
/* These are styles for the portfolio section*/
.mainproject {
  background-image: url("../images/placeholder1.jpg");
  height: 90vh;
}

.project2 {
  background-image: url("../images/placeholder1.jpg");
  background-position: center;
  height: 50vh;
}

.project3 {
  background-image: url("../images/placeholder1.jpg");
  background-position: center;
  height: 50vh;
}
